{% extends 'base.html.twig' %}
    {% block title %}Page non existante{% endblock %}
        
    {% block stylesheets %}       
        <link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="./public/css/style.css">
    {% endblock %}
    {% block content %}
        <div class="container">
        {% if session.erreur == "Vous n'avez pas les droits pour accéder à cette page" %}
        <div class="alert alert-danger" role="alert">{{ session.erreur }}</div>
        {% endif %} 
        <h1 class="text-center">La page que vous cherchez n'existe pas</h1>
        <div class="text-center">
        <img src="./public/images/404.png" width="600px" high="600px" alt="Erreur 404">
        </div>
        </div>
    {% endblock %}
    {% block script %} 
        {{ parent() }}
        <script src="./public/javascript/loginAlert.js"></script>
    {% endblock %}