{% extends 'base.html.twig' %}
    {% block title %}Se connecter{% endblock %}
    {% block stylesheets %} 
    <link rel="stylesheet" href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./public/css/style.css">
    {% endblock %}

    {% block content %}

    <div class="container">
        <h1>Formulaire de connection</h1>
        {{ loginForm|raw }}
    </div>
    {% endblock %}


    {% block script %} 
    <script src="vendor/jquery/jquery.min.js"></script>
    {% endblock %}