{% extends 'base.html.twig' %}
{% block title %}Index des posts{% endblock %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="./public/css/style.css">
{% endblock %} 
{% block content %}
    {% for post in posts %}
        <div class="container mt-4">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://localhost/blogpost/index.php?p=post/show/{{ post.postId }}">{{ post.title }}</a></br></h5>
                    <p class="card-text">{{ post.intro }}</p>
                    <div class="card-footer text-muted">Publié le : {{ post.creationDate|date("d/m/Y \\à H:i") }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}