<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name= "description" content= "BlogPost de présentation des travaux de François Thialon" />
        <title>{% block title %}BlogPost François Thialon{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

    </head>

    <body>
    {% block body %}
       <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="./public/images/francoisT.jpg" width="100px" high="100px" class="rounded-3" alt="Photo François Thialon"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if currentPage == "home" %} active {% endif %}" href="index.php">ACCUEIL <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPage == "register" %} active {% endif %}" href="./index.php?p=user/register">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPage == "postIndex" %} active {% endif %}" href="./index.php?p=post/index">Tous les posts</a>
                </li>
                {% if session.user.userRole == "admin" or session.user.userRole == "moderator" %}
                <li class="nav-item">
                    <a class="nav-link {% if currentPage == "admin" %} active {% endif %}" href="./index.php?p=admin/index">Administration du site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPage == "adminPosts" %} active {% endif %}" href="./index.php?p=admin/posts">Gérer les posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPage == "adminComments" %} active {% endif %}" href="./index.php?p=admin/comments">Gérer les commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPage == "adminUsers" %} active {% endif %}" href="./index.php?p=admin/users">Gérer les utilisateurs</a>
                </li>
                {% endif %}
                {% if session.user %} {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="./index.php?p=user/login">Se connecter</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="./public/images/cvFT.pdf" target="_blank">Télécharger mon CV</a>
                </li>
                </ul>
                {% if session.user %}
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-link" href="">Bonjour {{ session.user.publicName }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="index.php?p=user/logout">Se déconnecter</a>
                    </li>
                </ul>
                {% else %}
                {% endif %}
            </div>
        </nav>
        {% block content %} {% endblock %}

        {% block footer %}
            <!-- Footer -->
            <footer class="container-fluid bg-dark text-center text-white mt-4">
            <!-- Grid container -->
            <div class="container p-2">
                <!-- Section: Social media -->
                <section class="d-flex justify-content-center  p-4 mb-1">
                <!-- Left -->
                    <div class="me-5 d-none d-lg-block">
                    <span>Me suivre sur mes réseaux :</span>
                    </div>
                <!-- Left -->  
                <!-- Right -->
                    <div>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/fran%C3%A7ois-thialon-6969611ba/" role="button" target="_blank">
                    <i class="bi bi-linkedin"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/nosfairal" role="button" target="_blank">
                    <i class="bi bi-github"></i>
                    </a>
                    </div>
                    <!-- Right -->
                </section>
                <!-- Section: Social media -->

                <!-- Section: Form -->
                <section class="">
                <form action="#" method="post">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                        <strong>Vous désirez me contacter par mail</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-3 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                        <input type="email" id="form5Example21" class="form-control" />
                        <label class="form-label" for="form5Example21">Adresse mail</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                        <textarea class="form-control">Votre message</textarea>
                        <label class="form-label" for="form5Example21">Votre message</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                        Envoyer
                        </button>
                    </div>
                    <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
                </section>
                <!-- Section: Form -->

                <!-- Section: Text -->
                <section class="mb-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                    repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                    eum harum corrupti dicta, aliquam sequi voluptate quas.
                </p>
                </section>
                <!-- Section: Text -->

                <!-- Section: Links -->
                <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">ACCUEIL</h5>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Tous les posts</h5>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Politique de confidentialité</h5>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Mentions légales</h5>

                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <a class="text-white" href="#">Nosfair</a>
            </div>
            <!-- Copyright -->
            </footer>
            <!-- Footer -->
        {% endblock %}
    {% endblock %}
    {% block script %}
    
    {% endblock %}
    </body>
</html>