<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Installation & configuration de twig</title>
    </head>

    <body>
        <h1>Installation et configuration de Twig</h1>
        <p>Première page avec Twig</p>
    </body>
</html>