{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="./public/css/style.css"/>
{% endblock %} 
{% block content %}
<div class="container">
<h1 class="text-center">Bienvenue dans l'administration</h1>
<div class="row">
<p class="col"><a href="https://localhost/blogpost/index.php?p=admin/posts">Gérer les posts</a></p>
<p class="col"><a href="https://localhost/blogpost/index.php?p=admin/comments">Gérer les commentaires</a></p>
<p class="col"><a href="https://localhost/blogpost/index.php?p=admin/users">Gérer les utilisateurs</a></p>
</div>
</div>
{% endblock %}
{% block script %}
    {{ parent() }}
{% endblock %}