{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %} 
{% block content %}
<h1>Bienvenue dans l'administration</h1>
<p><a href="">Gérer les posts</a></p>
<p><a href="">Gérer les commentaires</a></p>
<p><a href="">Gérer les utilisateurs</a></p>
{% endblock %}