{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %} 
{% block content %}
{% for comment in comments %}
    <a href="https://localhost/blogpost/index.php?p=comment/show/{{ comment.commentId }}">{{ comment.content }}</a></br>
{% endfor %}
{% endblock %}
{% block script %}
    {{ parent() }}
{% endblock %}