{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %} 
{% block content %}
    <h1>Modifier un post </h1>
{{ updatePostForm|raw }}
{% endblock %}