{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="./public/css/style.css"/>
{% endblock %} 
{% block content %}
    <h1>Modifier un post </h1>
{{ updatePostForm|raw }}
{% endblock %}